@use "sass:map";
@use "../variables" as vars;

.build-tour {
  max-width: 117rem;
  margin: 0 auto;
  padding-top: 13.5rem;

  background-color: map.get(vars.$colors, "Beige 100");

  .build-tour__title {
    text-align: center;
    color: map.get(vars.$colors, "Black");
  }

  .build-tour__description {
    text-align: center;
    max-width: 40rem;
    margin: 3rem auto 0 auto;
    color: map.get(vars.$colors, "Gray 300");
  }

  .build-tour__form {
    margin-top: 10rem;
    padding: 7rem;
    border-radius: 5rem;
    background-color: map.get(vars.$colors, "White");

    .form-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 3rem;
      row-gap: 3.2rem;

      :nth-child(7),
      :nth-child(8),
      :nth-child(9),
      :nth-child(10) {
        grid-column: span 2;
      }

      .form-group {
        display: flex;
        flex-direction: column;
        gap: 0.7rem;

        label {
          color: map.get(vars.$colors, "Black");
        }

        input {
          padding: 2rem;
          border-radius: 1rem;
          border: 1px solid map.get(vars.$colors, "Beige 200");
          background-color: map.get(vars.$colors, "Beige 100");
        }

        .textarea {
          margin-top: -1px;
        }

        .direction {
          color: map.get(vars.$colors, "Gray 300");
          background-color: map.get(vars.$colors, "Beige 100");
          border: 1px solid map.get(vars.$colors, "Beige 200");
          border-radius: 1rem;
          padding: 2rem;
          cursor: pointer;

          // иконка
          appearance: none;
          background-image: url("../images/icons/ic-dropdown.svg");
          background-repeat: no-repeat;
          background-position: right 2.1rem center;
          background-size: 2.6rem;
        }

        .direction:valid {
          color: #000;
        }

        input[type="date"] {
          color: map.get(vars.$colors, "Gray 300");
          text-transform: uppercase;
          letter-spacing: -0.8px;
        }

        .form-textarea {
          padding: 2rem;
          border-radius: 1rem;
          border: 1px solid map.get(vars.$colors, "Beige 200");
          background-color: map.get(vars.$colors, "Beige 100");
          resize: vertical;
          min-height: 5rem;
        }
      }

      .age-group {
        gap: 0.7rem;

        .radio-group {
          display: flex;
          gap: 3.1rem;

          .radio-item {
            display: flex;
            gap: 1.7rem;

            input[type="radio"] {
              transform: scale(2);
              order: -1;
              margin-left: 0.7rem;
            }
          }
        }
      }

      .checkbox-group {
        flex-direction: row;
        gap: 2.5rem;
        padding-top: 0.2rem;

        input[type="checkbox"] {
          transform: scale(2);
          order: -1;
          margin-left: 0.7rem;
        }
      }

      .button-group {
        flex-direction: row;
        gap: 3rem;
        margin-top: 2px;

        .build-tour__button {
          border-radius: 1rem;
          padding: 1.5rem 7.05rem;
          font-weight: 400;
        }

        button:last-child {
          padding: 1.5rem 7.35rem;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .build-tour {
    max-width: 91.8rem;

    .build-tour__form {
      padding: 6rem;

      .form-grid {
        column-gap: 2rem;

        .form-group .textarea {
          margin-top: -2px;
        }

        .checkbox-group {
          gap: 1.7rem;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .build-tour {
    max-width: 70rem;
    padding-top: 7rem;

    .build-tour__form {
      margin-top: 5rem;
      padding: 3rem;
      border-radius: 3rem;
    }
  }
}
