@use "sass:map";
@use "../variables" as vars;

.footer {
  background-color: map.get(vars.$colors, "Beige 200");
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(0, 22.2rem) minmax(0, 40.8rem);
  gap: 53.8rem;
  max-width: 192rem;
  padding: 3rem 0;

  &__text {
    color: map.get(vars.$colors, "Gray 300");
  }

  &__socials {
    display: flex;
    gap: 2.5rem;
  }

  &__social-link {
    display: flex;
    gap: 0.8rem;
  }
}
