@use "sass:map";
@use "../variables" as vars;

.footer {
  max-width: 116.6rem;
  margin: 0 auto;
  padding: 3rem 0;

  background-color: map.get(vars.$colors, "Beige 200");
  display: flex;
  justify-content: space-between;

  &__text {
    color: map.get(vars.$colors, "Gray 300");
  }

  &__socials {
    display: flex;
    gap: 2.6rem;
  }

  &__social-link {
    display: flex;
    gap: 1rem;
  }
}

@media (max-width: 1024px) {
  .footer {
    max-width: 91.5rem;
  }
}
