@use "sass:map";
@use "../variables" as vars;

.header {
  background:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/desktop/hero-image.png") no-repeat;
  background-size: cover;
  background-position: center;
  max-height: 83rem;
  color: map.get(vars.$colors, "White");
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 116.8rem;
  margin: 0 auto;
  padding: 2.8rem 0;
  width: 100%;
}


.header__logo {
  width: 18.2rem;
  flex-shrink: 0;
}

.header__logo-image {
  width: 100%;
  height: auto;
}

.header__nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.header__contact {
  flex-shrink: 0;
}

.header__phone {
  color: map.get(vars.$colors, "White");
}

.header__hero {
  padding: 11.85rem 0;
  max-width: 76.8rem;
  margin: 0 auto;
  text-align: center;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__title {
  padding-left: 3px;
}

.hero__subtitle {
  max-width: 56.2rem;
  letter-spacing: 0;
  margin: 5rem auto 0;
  color: rgba(255, 255, 255, 0.9);
}

.hero__button {
  margin-top: 5rem;
  padding: 5px 20px;
  border: 0;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.hero__button:hover {
  background-color: map.get(vars.$colors, "Orange 200");
}

.hero__button:active {
  background-color: map.get(vars.$colors, "Orange 100");
}

@media (max-width: 1024px) {
  .header__top {
    max-width: 91rem;
  }

  .hero__title {
    padding-left: 0px;
  }

  .hero__subtitle {
    max-width: 40rem;

    .hero__comma {
      display: none;
    }
  }
}

@media (max-width: 800px) {
  .header__top {
    justify-content: space-around;
  }

  .header__hero {
    padding: 7rem 0;
  }

  .header__nav {
    display: none;
  }

  .hero__title {
    font-size: 7.2rem;
  }
}

@media (max-width: 600px) {
  .header .header__hero .hero__title {
    font-size: 6rem;
  }
}

@media (max-width: 360px) {
  .header .header__top {
    max-width: 32rem;
    justify-content: space-between;
    padding: 3.25rem 0;

    .header__logo {
      width: 13.3rem;
    }

    .header__contact {
      font-size: 1.6rem;
    }
  }

  .header .header__hero {
    padding: 5.2rem 0;

    .hero__title {
      font-size: 3.4rem;
      line-height: round(112%, 1px);
    }

    .hero__subtitle {
      max-width: 31rem;
      font-size: 1.6rem;
      margin: 4rem auto 0;

      .hero__comma {
        display: inline;
      }
    }

    .hero__button {
      margin-top: 4rem;
      font-size: 1.6rem;
    }
  }
}
