@use "sass:map";
@use "../variables" as vars;

.reviews {
    max-width: 117rem;
    margin: 0 auto;
    margin-top: 13.5rem;
    background-color: map.get(vars.$colors, "Beige 100");

    &__title {
        text-align: center;
        max-width: 52.9rem;
        margin: 0 auto;
    }

    &__intro {
        text-align: center;
        color: map.get(vars.$colors, "Gray 300");
        max-width: 40rem;
        margin: 0 auto;
        margin-top: 3rem;
    }

    &__list {
        margin-top: 10rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
    }
}

.review {
    background-color: map.get(vars.$colors, "Beige 200");
    padding: 4rem;
    border-radius: 5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__text {
        display: grid;
        row-gap: 2.7rem;
        margin-bottom: 7rem;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
    }

    &__author {
        display: grid;
        row-gap: 0.8rem;
    }

    &__tour {
        color: map.get(vars.$colors, "Gray 300");
    }
}
