@use "sass:map";
@use "../variables" as vars;

.reviews {
  max-width: 117rem;
  margin: 0 auto;
  margin-top: 13.5rem;
  background-color: map.get(vars.$colors, "Beige 100");

  &__title {
    text-align: center;
    max-width: 52.9rem;
    margin: 0 auto;
  }

  &__intro {
    text-align: center;
    color: map.get(vars.$colors, "Gray 300");
    max-width: 40rem;
    margin: 0 auto;
    margin-top: 3rem;
  }

  &__list {
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
  }
}

.review {
  background-color: map.get(vars.$colors, "Beige 200");
  padding: 4rem;
  border-radius: 5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__text {
    display: grid;
    row-gap: 2.7rem;
    margin-bottom: 7rem;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
  }

  &__author {
    display: grid;
    row-gap: 0.7rem;
  }

  &__tour {
    color: map.get(vars.$colors, "Gray 300");
  }
}

@media (max-width: 1024px) {
  .reviews {
    max-width: 91.8rem;

    &__list {
      gap: 1.8rem;
    }
  }

  .review {
    &__text {
      row-gap: 2.8rem;
    }
  }
}

@media (max-width: 800px) {
  .reviews {
    max-width: 70rem;
    margin-top: 7rem;

    &__list {
      margin-top: 5rem;
    }

    .review {
      padding: 3rem;
      border-radius: 3rem;

      &__text {
        font-size: 1.8rem;
      }
    }
  }
}

@media (max-width: 600px) {
  .reviews {
    .reviews__title {
      font-size: 4rem;
    }

    .reviews__list {
      grid-template-columns: 1fr;
      padding: 2rem;
    }
  }
}

@media (max-width: 360px) {
  .reviews {
    margin-top: 7.6rem;
    max-width: 31.8rem;

    .reviews__title {
      font-size: 3.4rem;
      line-height: round(112%, 1px);
      letter-spacing: 2%;
    }

    .reviews__intro {
      margin-top: 1.9rem;
      font-size: 1.6rem;
      line-height: round(142%, 1px);
      letter-spacing: 0%;
    }

    .reviews__list {
      grid-template-columns: 1fr;
      padding: 0;

      .review {
        padding: 2rem;
        border-radius: 2rem;

        .review__text {
          font-size: 1.6rem;
          line-height: round(142%, 1px);
          letter-spacing: 0%;
          margin-bottom: 4rem;
          row-gap: 2.3rem;
        }

        .review__footer {
          .review__author {
            gap: 0.7rem;
            align-self: flex-end;

            .review__name {
              font-size: 2.3rem;
              letter-spacing: 4%;
            }

            .review__tour {
              font-size: 1.6rem;
            }
          }
        }
      }
    }
  }
}
