@use "sass:map";
@use "../variables" as vars;

.stories {
  max-width: 117rem;
  margin: 0 auto;
  margin-top: 13.5rem;

  &__title {
    text-align: center;
    max-width: 72.3rem;
    margin: 0 auto;
  }

  &__intro {
    text-align: center;
    color: map.get(vars.$colors, "Gray 300");
    max-width: 40rem;
    margin: 0 auto;
    margin-top: 3rem;
  }

  &__list {
    margin-top: 10rem;
    display: grid;
    gap: 5rem;

    color: map.get(vars.$colors, "White");
  }

  .story {
    padding: 6rem;
    border-radius: 5rem;
    aspect-ratio: 1170/567;

    display: flex;
    flex-direction: column;
    gap: 3.7rem;

    &__text {
      max-width: 55.4rem;
    }

    &__features {
      margin-top: -0.8rem;
    }

    &__feature-item {
      position: relative;
      padding-left: 3rem;

      &::before {
        content: "•";
        position: absolute;
        left: 12px;
        top: 0;
        font-size: 0.8em;
      }
    }

    &__more-link {
      display: flex;
      gap: 1.5rem;
    }

    &__socials {
      display: flex;
      gap: 3.5rem;
    }

    &__footer {
      margin-top: auto;
      display: flex;
      justify-content: space-between;
    }
  }

  .story:nth-child(1) {
    background:
      linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.02)), url("../images/laptop/story-image-1.png");
    background-size: cover;
    background-position: center;
  }

  .story:nth-child(2) {
    background:
      linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.02)), url("../images/laptop/story-image-2.png");
    background-size: cover;
    background-position: center;
  }

  .story:nth-child(3) {
    background:
      linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.02)), url("../images/laptop/story-image-3.png");
    background-size: cover;
    background-position: center;
  }
}

@media (max-width: 1024px) {
  .stories {
    max-width: 91.8rem;

    &__list {
      margin-top: 10rem;
      display: grid;
      gap: 5rem;
    }

    .story {
      aspect-ratio: 918/567;

      &__feature-item {
        margin-top: -1px;
      }

      &__socials {
        gap: 3.6rem;
      }
    }
  }
}

@media (max-width: 800px) {
  .stories {
    margin-top: 7rem;

    &__list {
      margin-top: 5rem;
      gap: 2rem;
      padding: 1rem;
    }

    .story {
      padding: 2rem;
      border-radius: 2rem;
      gap: 2rem;
    }
  }
}

@media (max-width: 600px) {
  .stories {
    .stories__title {
      font-size: 4rem;
    }

    .stories__list .story {
      aspect-ratio: auto;

      .story__footer {
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 1rem;
      }
    }
  }
}
