@use "sass:map";
@use "../variables" as vars;

.stories {
  max-width: 117rem;
  margin: 0 auto;
  margin-top: 13.5rem;

  &__title {
    text-align: center;
    max-width: 72.3rem;
    margin: 0 auto;
  }

  &__intro {
    text-align: center;
    color: map.get(vars.$colors, "Gray 300");
    max-width: 40rem;
    margin: 0 auto;
    margin-top: 3rem;
  }

  &__list {
    margin-top: 10rem;
    display: grid;
    gap: 5rem;

    color: map.get(vars.$colors, "White");
  }

  .story {
    padding: 6rem;
    border-radius: 5rem;
    aspect-ratio: 1170/567;

    display: flex;
    flex-direction: column;
    gap: 3.7rem;

    transition: transform 0.3s ease;

    &__text {
      max-width: 55.4rem;
    }

    &__features {
      margin-top: -0.8rem;
    }

    &__feature-item {
      position: relative;
      padding-left: 3rem;

      &::before {
        content: "•";
        position: absolute;
        left: 12px;
        top: 0;
        font-size: 0.8em;
      }
    }

    &__more-link {
      display: flex;
      gap: 1.5rem;
      position: relative;
      z-index: 0;
      background: transparent;
      transition: all 0.3s ease;

      &::before {
        content: "";
        position: absolute;
        top: -7px;
        left: -20px;
        right: -20px;
        bottom: -7px;
        background: map.get(vars.$colors, "Green 400");
        border-radius: 5rem;
        opacity: 0;
        transition: opacity 0.3s ease;
        pointer-events: none;
        z-index: -1;
      }

      &:hover::before {
        opacity: 1;
      }
    }

    &__socials {
      display: flex;
      gap: 3.5rem;
    }

    &__footer {
      margin-top: auto;
      display: flex;
      justify-content: space-between;
    }
  }

  .story:hover {
    transform: scale(1.2);
  }

  .story:nth-child(1) {
    background:
      linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.02)), url("../images/laptop/story-image-1.png");
    background-size: cover;
    background-position: center;
  }

  .story:nth-child(2) {
    background:
      linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.02)), url("../images/laptop/story-image-2.png");
    background-size: cover;
    background-position: center;
  }

  .story:nth-child(3) {
    background:
      linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.02)), url("../images/laptop/story-image-3.png");
    background-size: cover;
    background-position: center;
  }
}

@media (max-width: 1024px) {
  .stories {
    max-width: 91.8rem;

    &__list {
      margin-top: 10rem;
      display: grid;
      gap: 5rem;
    }

    .story {
      aspect-ratio: 918/567;

      &__feature-item {
        margin-top: -1px;
      }

      &__socials {
        gap: 3.6rem;
      }
    }
  }
}

@media (max-width: 800px) {
  .stories {
    margin-top: 7rem;

    &__list {
      margin-top: 5rem;
      gap: 2rem;
      padding: 1rem;
    }

    .story {
      padding: 2rem;
      border-radius: 2rem;
      gap: 2rem;
    }
  }
}

@media (max-width: 600px) {
  .stories {
    .stories__title {
      font-size: 4rem;
    }

    .stories__list .story {
      aspect-ratio: auto;

      .story__footer {
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 1rem;
      }
    }
  }
}

@media (max-width: 360px) {
  .stories {
    max-width: 31.8rem;
    margin-top: 7.6rem;

    .stories__title {
      font-size: 3.4rem;
      letter-spacing: 2%;
      line-height: round(112%, 1px);
    }

    .stories__intro {
      font-size: 1.6rem;
      margin-top: 1.9rem;
    }

    .stories__list {
      margin-top: 5rem;
      padding: 0;

      .story {
        aspect-ratio: 318/455;
        padding: 3rem;

        .story__title {
          font-size: 2.3rem;
          line-height: round(120%, 1px);
          letter-spacing: 4%;

          span.new-line {
            display: block;
          }
        }

        .story__text,
        .story__features,
        .story__footer {
          font-size: 1.6rem;
        }

        .story__feature-item::before {
          font-size: 1.5rem;
          left: 9.8px;
          top: 0;
        }

        .story__features {
          margin-top: 0.4rem;
          display: grid;
          row-gap: 0.1rem;

          .story__feature-item {
            padding-left: 2.4rem;
          }
        }

        .story__footer {
          justify-content: flex-start;

          .story__more-link {
            font-size: 1.6rem;
            line-height: round(155%, 1px);
          }

          .story__socials {
            display: none;
          }
        }
      }

      .story:nth-child(1) {
        background:
          linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.02)), url("../images/mobile/story-image-1.png");
        background-size: cover;
        background-position: center;
      }

      .story:nth-child(2) {
        background:
          linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.02)), url("../images/mobile/story-image-2.png");
        background-size: cover;
        background-position: center;
      }

      .story:nth-child(3) {
        background:
          linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.02)), url("../images/mobile/story-image-3.png");
        background-size: cover;
        background-position: center;
      }
    }
  }
}
