@use "sass:map";
@use "../variables" as vars;

.tours {
  max-width: 117rem;
  margin: 0 auto;
  padding-top: 13.3rem;
  color: map.get(vars.$colors, "Black");

  .tours__title {
    text-align: center;
    color: map.get(vars.$colors, "Black");
    margin-top: 2px;
  }

  .tours__nav {
    display: flex;
    justify-content: center;
    margin-top: 3.5rem;
  }

  .nav__list {
    gap: 3rem;

    .nav__item {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: -6px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: currentColor;
        transform: scaleX(0);
        transition: transform 0.3s ease;
        transform-origin: left;
      }

      &:hover::after {
        transform: scaleX(1);
      }

      &.active {
        color: map.get(vars.$colors, "Orange 200");

        &::after {
          background-color: map.get(vars.$colors, "Orange 200");
          transform: scaleX(1);
        }
      }
    }
  }

  .tours__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin-top: 10.6rem;

    .tour-card {
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 5rem;
      aspect-ratio: 370 / 531;
      color: map.get(vars.$colors, "White");

      transition: transform 0.3s ease;

      &:nth-child(1) {
        background-image:
          linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.5)),
          url("../images/desktop/tour-1.png");
      }
      &:nth-child(2) {
        background-image:
          linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.5)),
          url("../images/desktop/tour-2.png");
      }
      &:nth-child(3) {
        background-image:
          linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.5)),
          url("../images/desktop/tour-3.png");
      }
      &:nth-child(4) {
        background-image:
          linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.5)),
          url("../images/desktop/tour-4.png");
      }
      &:nth-child(5) {
        background-image:
          linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.5)),
          url("../images/desktop/tour-5.png");
      }
      &:nth-child(6) {
        background-image:
          linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.5)),
          url("../images/desktop/tour-6.png");
      }

      .tour-card__overlay {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 5rem;
        gap: 1.6rem;

        .tour-card__link {
          margin-top: auto;
          display: inline-flex;
          align-items: center;
          gap: 1.6rem;

          position: relative;
        }

        .tour-card__link::before {
          content: "";
          position: absolute;
          top: -7px;
          left: -20px;
          right: 90px;
          bottom: -7px;
          background: map.get(vars.$colors, "Green 400");
          border-radius: 5rem;
          z-index: -1;
          opacity: 0;
          transition: opacity 0.3s ease;
          pointer-events: none;
        }

        .tour-card__link:hover::before {
          opacity: 1;
        }
      }
    }

    .tour-card:hover {
      transform: scale(1.2);
    }
  }
}

@media (max-width: 1024px) {
  .tours {
    .tours__nav {
      margin-top: 3.7rem;
      .nav__list {
        gap: 3.1rem;
      }
    }

    .tours__grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 1.8rem;
      max-width: 91.8rem;
      margin: 10.6rem auto 0;

      .tour-card {
        aspect-ratio: 450 / 531;

        &__break {
          display: none;
        }

        &:nth-child(1) {
          background-image:
            linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.5)),
            url("../images/laptop/tour-1.png");
        }

        &:nth-child(2) {
          background-image:
            linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.5)),
            url("../images/laptop/tour-2.png");
        }

        &:nth-child(3) {
          background-image:
            linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.5)),
            url("../images/laptop/tour-3.png");
        }

        &:nth-child(4) {
          background-image:
            linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.5)),
            url("../images/laptop/tour-4.png");
        }

        &:nth-child(5) {
          background-image:
            linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.5)),
            url("../images/laptop/tour-5.png");
        }

        &:nth-child(6) {
          background-image:
            linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.5)),
            url("../images/laptop/tour-6.png");
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .tours {
    padding-top: 7rem;

    .tours__nav {
      flex-wrap: wrap;

      .nav__list {
        justify-content: center;
      }
    }

    .tours__grid {
      // grid-template-columns: 1fr;
      max-width: 70rem;
      margin: 7rem auto 0;

      .tour-card {
        aspect-ratio: 300 / 354;

        .tour-card__title {
          font-size: 2.6rem;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .tours {
    .tours__title {
      font-size: 4rem;
    }

    .tours__grid {
      grid-template-columns: 1fr;
      padding: 0 2rem;

      .tour-card {
        aspect-ratio: 3/2.5;
        background-size: cover;
        background-position: center bottom;

        .tour-card__title {
          font-size: 3.6rem;
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .tours {
    padding-top: 7.4rem;

    .tours__title {
      font-size: 3.4rem;
      letter-spacing: 2%;
      line-height: round(112%, 1px);
    }

    .tours__nav {
      margin-top: 3.2rem;

      .nav__list {
        max-width: 30rem;
        font-size: 1.6rem;
        gap: 1.1rem;
      }
    }

    .tours__grid {
      margin-top: 5.2rem;
      padding: 0;
      max-width: 31.8rem;

      .tour-card {
        border-radius: 2rem;
        aspect-ratio: 1;

        &:nth-child(1) {
          background-image:
            linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.5)),
            url("../images/mobile/tour-1.png");
        }

        &:nth-child(2) {
          background-image:
            linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.5)),
            url("../images/mobile/tour-2.png");
        }

        &:nth-child(3) {
          background-image:
            linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.5)),
            url("../images/mobile/tour-3.png");
        }

        &:nth-child(4) {
          background-image:
            linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.5)),
            url("../images/mobile/tour-4.png");
        }

        &:nth-child(5) {
          background-image:
            linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.5)),
            url("../images/mobile/tour-5.png");
        }

        &:nth-child(6) {
          background-image:
            linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.5)),
            url("../images/mobile/tour-6.png");
        }

        .tour-card__overlay {
          padding: 2.5rem;
          gap: 1.2rem;

          .tour-card__title {
            font-size: 2.3rem;
            letter-spacing: 4.4%;
          }

          .tour-card__price {
            letter-spacing: -4%;
          }

          .tour-card__link {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}
