@use "sass:map";
@use "../variables" as vars;

.travel-cta {
  padding: 13.5rem 57.45rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: center;

  &__content {
    // стили для блока с текстом
    display: grid;
    gap: 2rem;
  }

  &__title {
    // стили заголовка
  }

  &__text {
    // стили параграфа
    color: map.get(vars.$colors, "Gray 300");
  }

  &__email-link {
    // стили ссылки на почту
    color: map.get(vars.$colors, "Black");
  }
}
