@use "sass:map";
@use "../variables" as vars;

.travel-cta {
  max-width: 77.1rem;
  margin: 0 auto;

  padding: 13.5rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: center;

  &__content {
    display: grid;
    gap: 2rem;
  }

  &__text {
    color: map.get(vars.$colors, "Gray 300");
  }

  &__email-link {
    color: map.get(vars.$colors, "Black");
  }
}
