@use "sass:map";
@use "../variables" as vars;

.travel-cta {
  max-width: 77.1rem;
  margin: 0 auto;

  padding: 13.5rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: center;

  &__content {
    display: grid;
    gap: 2rem;
  }

  &__text {
    color: map.get(vars.$colors, "Gray 300");
  }

  &__email-link {
    color: map.get(vars.$colors, "Black");
    text-decoration: none; // remove default underline
    position: relative;
    display: inline-block;

    &::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: map.get(vars.$colors, "Black");
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    &:hover::after {
      opacity: 1;
    }
  }
}

@media (max-width: 600px) {
  .travel-cta {
    grid-template-columns: 1fr;
    justify-items: center;

    .travel-cta__image {
      max-width: 70%;
    }
  }
}

@media (max-width: 360px) {
  .travel-cta {
    margin-top: 7.5rem;
    padding-top: 0;
    padding-bottom: 7.5rem;

    .travel-cta__image {
      max-width: 13rem;
      height: 13.3rem;

      img {
        height: 100%;
      }
    }

    .travel-cta__content {
      max-width: 29.1rem;
      margin: 0 auto;
      text-align: center;
      gap: 2.1rem;

      .travel-cta__title {
        font-size: 2.3rem;
        line-height: round(120%, 1px);
        letter-spacing: 4%;

        max-width: 29.1rem;
      }

      .travel-cta__text {
        font-size: 1.6rem;
        line-height: 142%;
        letter-spacing: 0%;
      }
    }
  }
}
