@use "sass:map";
@use "../variables" as vars;

html {
  font-family: "Roboto", sans-serif;
  color: map.get(vars.$colors, white);
}

body {
  background-color: silver;
}

main {
  background-color: map.get(vars.$colors, "Beige 100");
}

.container {
  width: 100%;
  max-width: 192rem;
  margin: 0 auto;
  background-color: map.get(vars.$colors, "Beige 200");
}
